[submodule "gateway-test"]
	path = gateway-test
	url = https://nnt1054@github.com/nnt1054/gateway-test.git
[submodule "mmo-client"]
	path = mmo-client
	url = https://nnt1054@github.com/nnt1054/mmo-client.git
[submodule "mini5-engine"]
	path = mini5-engine
	url = https://nn1054@github.com/nnt1054/mini5-engine.git
[submodule "mmo-gateway"]
	path = mmo-gateway
	url = https://nnt1054@github.com/nnt1054/mmo-gateway.git
[submodule "mmo-server-manager"]
	path = mmo-server-manager
	url = https://nnt1054@github.com/nnt1054/mmo-server-manager.git
[submodule "mmo-gameserver"]
	path = mmo-gameserver
	url = https://nnt1054@github.com/nnt1054/mmo-gameserver.git
